@import "tailwindcss";

@theme {
    --color-background: #0d1117;
    --color-foreground: #21262d;

    --color-primary: #ecf2f8;

    --color-accent: #a2d2fb;
    --color-highlighted: #77bdfb;

    --color-warning: #fa7970;
}